{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>

<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>PyDrops:</h2>
        <p>PyDrops is a Python community website. PyDrops is a community for people to post python tutorials, 
            write articlese about python and share new projects or project updates.</p>
    </div>
</body>

</html>
