{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>

<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>PyDrops:</h2>
        <p>A social community for python developers to come and drop knowledge for other developers.</p>
        <p class="blog-count">Total Blogs: {% total_posts %}</p>
    </div>
</body>

</html>
